@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    overflow: hidden;
}

.container{
    height: 100vh;
    background-color: rgb(238, 238, 238);
}

#global-tt{
    position: absolute;
    z-index: 100;
    color: white;
    padding: 4px;
    background-color: rgba(0,0,0, 0.6);
    font-size: 12px;
    border-radius: 1px;
    border: thin #000000 solid;
}

#progress-bar{
    height: 3px;
    background: rgb(221,84,114);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    max-width: 100%;
    z-index: 50;
    transition: all 1s ease;
}

#profile-dropdown{
    z-index: 5;
    position: absolute;
    right: 36px;
    top: 76px;
    background: whitesmoke;
    width: 250px;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#profile-dropdown section{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: thin lightgray solid;
    object-fit: cover;
}

#profile-dropdown section .dp{
    width: 30%;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
}

#profile-dropdown section .dp i{
    font-size: 70px;
    color: gray;
}

#profile-dropdown section .uname{
    font-weight: bolder;
}

#profile-dropdown ul{
    top: 50px;
    margin: 20px 0;
}

#profile-dropdown ul li{
    display: flex;
    align-items: center;
    list-style: none;
    height: 45px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#profile-dropdown ul li:hover{
    background: rgb(230,230,230);
}

#profile-dropdown ul a{
    text-decoration: none;
}

#profile-dropdown ul li i{
    margin-right: 10px;
}

#profile-dropdown ul li .bx-history{
    font-size: 24px;
    margin-left: -3px;
}

#profile-dropdown .logout{
    padding: 20px;
}

#profile-dropdown .logout button{
    display: block;
    margin: auto;
    border: none;
    border: 2px lightgray solid;
    outline: none;
    padding: 7px 15px;
    font-size: 17px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

/* Wildcard Alignment Center */

.middle-alignment{
    display: flex;
    align-items: center;
}

/* Header Section CSS */

.header{
    position: fixed;
    width: 100%;
    height: 76px;
    background-color: whitesmoke;
    border-bottom: rgba(184, 184, 184, 0.5) thin solid;
    padding: 10px;
    transition: all 0.5s ease;
    z-index: 3;
}

.header .logo-and-burger i{
    font-size: 20px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    margin-right: 10px;
    border-radius: 25px;
    justify-content: center;
    cursor: pointer;
}

.header .logo-and-burger .logo{
    font-size: 30px;
    font-weight: 600;
    color: rgb(2, 73, 117);
    cursor: pointer;
}

.header .logo-and-burger .logo span{
    font-size: 30px;
    font-weight: 600;
    color: rgb(221, 84, 114);
}


.header .search{
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
}

.header .search input{
    width: 60%;
    height: 40px;
    padding: 10px;
    border-radius: 3px 0px 0px 3px;
    font-size: 17px;
    border: solid 2px lightgray;
    outline: none;
    border-right: none;
}

.search .search-list {
    position: absolute;
    list-style-type:none; 
    width: calc(60% + 40px);
    background-color: whitesmoke;
    border: solid 1px lightgray;
    border-top: none;
    top: 57.5px;
    border-radius: 0 0 5px 5px;
}

.search .search-list li {
    height: 25px;
    margin: 5px 0px;
    font-size: 17px;
    padding: 0px 10px;
    cursor: pointer;
}

.search .search-list li:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

.header .search i{
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 0px 3px 3px 0px;
    border: solid 2px rgb(38,151,255);
    border-left: none;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(38,151,255);
    transition: all 0.3s ease;
    cursor: pointer;
}

.header .search i:hover{
    color: rgba(255, 255, 255, 1);
}


.header .login-register{
    position: relative;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 20px;
    white-space: nowrap;
}

.header .login-register .login-register-dp{
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    border-radius: 25px;
    border: thin rgba(211, 211, 211, 0.4) solid;
    background-color: rgba(211, 211, 211, 0.3);
    transition: all 0.5s ease;
}

.header .login-register .login-register-text{
    font-weight: bolder;
    margin-right: 5px;
}

.header .login-register .dp {
    justify-content: center;
    font-size: 29px;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    color: gray;
}

.header .login-register .login-register-dp:hover{
    background-color: rgba(211, 211, 211, 0.4);
}

.header .login-register .cart{
    position: relative;
    font-size: 30px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 25px;
    border: thin rgba(211, 211, 211, 0.4) solid;
    background-color: rgba(211, 211, 211, 0.3);
    transition: all 0.5s ease;
    cursor: pointer;
}

.header .login-register .cart .cart-items-counter{
    display: block;
    text-align: center;
    position: absolute;
    font-size: 16px;
    top: -6;
    width: calc(100% - 5px);
    color: #F55C47;
    border-radius: 50%;
}

.header .login-register .cart:hover{
    background-color: rgba(211, 211, 211, 0.4);
}

/* Shop Section CSS */

.shop-nav{
    z-index: 5;
    position: fixed;
    width: 170px;
    height: 90vh;
    overflow-x: hidden;
    top: 76px;
    transition: all 0.4s ease;
    background-color: rgb(234.5,234.5,234.5);
}

.shop-nav .nav-list{
    display: flex;
    flex-direction: column;
    height: 72%;
    overflow-y: scroll;
    width: 170px;
    transition: all 0.3s ease-out;
}

.shop-nav .nav-list::-webkit-scrollbar{
    display: none;
}

.shop-nav .nav-list li{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 18px;
    padding: 15px 10px;
    margin-bottom: 18px;
    transition: all 0.3s ease;
    border-top: thin rgb(219, 219, 219) solid;
    border-bottom: thin rgb(219, 219, 219) solid;
    cursor: pointer;
}

div.shop-nav ul.nav-list li:hover{
    background-color: rgb(219, 219, 219);
}

.shop-nav .nav-list li i{
    font-size: 22px;
    min-width: 50px;
    text-align: center;
    margin-right: 10px;
}

.shop-nav .nav-list li span{
    transition: width 0.5s, height 0.5s;
}

.shop-nav .overview-search-result{
    position: absolute;
    padding: 5px;
    bottom: 10px;
    color: rgb(117,117,117);
    font-size: 13px;
}

/* Shop Filters */

.shop-filters{
    position: fixed;
    user-select: none;
    top: 76px;
    left: 170px;
    justify-content: space-evenly;
    width: calc(100% - 170px);
    transition: all 0.4s ease-out;
    border-bottom: rgba(184, 184, 184, 0.5) thin solid;
    background-color: white;
    z-index: 2;
}

.shop-filters .filters{
    display: flex;
    width: 100%;
    height: 40px;
    overflow-x: scroll;
}

.shop-filters .filters::-webkit-scrollbar{
    display: none;
}

.shop-filters .filters li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 3px 10px;
    font-size: 17px;
    border: thin solid rgb(219, 219, 219);
    border-radius: 20px;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.5s ease;
}

.shop-filters .filters li:hover{
    background-color: rgba(211, 211, 211, 0.3);
}

.shop-filters i{
    justify-content: center;
    height: 35px;
    min-width: 35px;  
    border-radius: 50%;
    margin: 3px 5px;
    background-color: white;
    cursor: pointer;
}

/* Responsive CSS */

@media (max-width : 1206px) {
    div.product-card{
        grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    }

    div.product-card .card{
        width: 235px;
        height: 335px;
    }
}

@media (max-width : 1000px){
    .shop-nav{
        width: 70px;
    }

    .shop-filters{
        left: 70px;
        width: calc(100% - 70px);
    }

    .shop-nav .nav-list{
        width: 70px;
        padding: 15px 0;
    }

    .shop-nav .nav-list li{
        padding: 3px 0;
        margin-bottom: 25px;
    }

    .shop-nav .nav-list li > *{
        display: block;
        margin: auto;
        text-align: center;
    }

    .shop-nav .nav-list li span{
        font-size: 13px;
    }

    div.product-card{
        width : calc(100% - 70px);
        left : 70px;
        grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    }

    div.product-card .card{
        width: 205px;
        height: 300px;
    }

}

@media (max-width : 650px){
    .header .login-register .login-register-text{
        display: none;
    }

    .header .login-register{
        padding-right: 0;
    }
}

@media (max-width : 540px){

    .header{
        padding: 0px;
    }

    .header .logo-and-burger i{
        margin-right: 0px;
    }

    .shop-filters i{
        display: none;
    }

}

@media (max-height : 535px){
    .shop-nav .nav-list{
        height: calc(100% - 40px);
    }
}

@media (max-height : 500px){
    .shop-nav .nav-list li{
        margin-bottom: 15px;
    }
}