*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
    font-size: 18px;
}

body{
    
    background-color: rgb(222, 232, 243);
}

.navbar-sort-item{
    display: flex;
}

/* Header Section  */
.header{
    position: fixed;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    border-bottom: solid thin rgb(184, 184, 184);
    z-index: 2;
}

.bl-div{
    display: flex;
    align-items: center;
    margin-right: 12%;
}

.burger{
    margin-top: 5%;
}

.logo{
    font-size: 40px;
    margin-left: 25%;
    
}

.logo span{
    font-size: 40px;
    color: rgb(124, 3, 124);
}

.search{
    display: flex;
    align-items: center;
    margin-right: 24% ;
}

.search input{
    outline: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: thin solid rgb(189, 187, 187);
    padding: 5px;
    width: 400px;
    height: 4.5vh;
   
}

.search i{
    border: thin solid rgb(189, 187, 187);
    padding: 1.5% 3%;
    background-color: lightgrey;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Navbar Section */

.navbar {
    width : 8%;
    text-align: center;
    position: fixed;
    top: 10vh;
    height: 90vh;
    background-color: white;
    
}


.navbar li {
    padding-top: 8%;
    height: 10vh;
    border-radius: 5%;
    margin-top: 10%;
    list-style: none;
    width : 100%;
    justify-content: space-between; 
    color: rgb(54, 50, 50);
    
}
.navbar i {
    display: block;
    font-size: x-large;
}
.navbar li:hover  {
    background-color: darkgrey;
}
/*sort-item div */

.sort-item {
    width: 92%;
    left: 8%;
    top: 10%;
    position: absolute;
}

/* sort item section */

.sort-div{
    position: fixed;
    padding: 1%;
    width: 100%;
    background-color: white;
    border-bottom: solid thin rgba(0, 0, 0, .5);
}

.sort-ul{
    display: flex;
    list-style-type: none;
    width: 100%;
}

.sort-ul li {
    text-align: center;
    margin-right: 1%;
    width: 10%;
    padding: 4px;
    border-radius: 25px;
    background-color: rgb(94, 94, 94);
    color: rgb(231, 231, 231);
}



/* show item section */
.item-div {
    width : 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap : 10px;
    column-gap : 10px;
    padding: 10px;
}

.item-div .grid{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70% 15% 15%;
    place-items: center;
    border-radius: 5px;
    border: thin solid rgb(189, 187, 187);
    grid-template-areas: 
    "one two"
    "three three"
    "four four"
    ;
    height: 40vh;
}

.one{
    grid-area: one;
    background-color: white;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
    font-weight: bolder;
    font-size: x-large;
}

.four{
    grid-area: four;
    color: green;
    font-size: larger;
    
}

.two ul{
    list-style-type: none;
    padding-top: 10%;
    text-align: center;
}

.two ul li {
    margin-bottom: 25%;
}

.four span:nth-child(1){
    text-decoration: line-through;
    color: red;;
}

.four span:nth-child(2){
    color: rgb(12, 116, 202);
}

.item-div img{
    width: 80%;
    display: block;

}