<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManageShopServlet</servlet-name>
        <servlet-class>go.servlet.ManageShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShopServlet</servlet-name>
        <servlet-class>go.servlet.GetShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageShopCategoryServlet</servlet-name>
        <servlet-class>go.servlet.ManageShopCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShopCategoryServlet</servlet-name>
        <servlet-class>go.servlet.GetShopCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>go.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductServlet</servlet-name>
        <servlet-class>go.servlet.GetProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>go.servlet.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>go.servlet.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneProductServlet</servlet-name>
        <servlet-class>go.servlet.GetOneProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsSenderServlet</servlet-name>
        <servlet-class>go.servlet.SmsSenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOtpServlet</servlet-name>
        <servlet-class>go.servlet.CheckOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>go.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>go.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchProducts</servlet-name>
        <servlet-class>go.servlet.GetSearchProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProducts</servlet-name>
        <servlet-class>go.servlet.GetAllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsLoggedIn</servlet-name>
        <servlet-class>go.servlet.IsLoggedIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>go.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsOldUser</servlet-name>
        <servlet-class>go.servlet.IsOldUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TowardsOrderServlet</servlet-name>
        <servlet-class>go.servlet.TowardsOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmptyCartServlet</servlet-name>
        <servlet-class>go.servlet.EmptyCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>go.servlet.AddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAddressServlet</servlet-name>
        <servlet-class>go.servlet.RemoveAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAddress</servlet-name>
        <servlet-class>go.servlet.GetAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>go.servlet.PayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageShopServlet</servlet-name>
        <url-pattern>/ManageShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShopServlet</servlet-name>
        <url-pattern>/GetShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageShopCategoryServlet</servlet-name>
        <url-pattern>/ManageShopCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShopCategoryServlet</servlet-name>
        <url-pattern>/GetShopCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductServlet</servlet-name>
        <url-pattern>/GetProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/RemoveProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneProductServlet</servlet-name>
        <url-pattern>/GetOneProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmsSenderServlet</servlet-name>
        <url-pattern>/SmsSenderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOtpServlet</servlet-name>
        <url-pattern>/CheckOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSearchProducts</servlet-name>
        <url-pattern>/GetSearchProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProducts</servlet-name>
        <url-pattern>/GetAllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsLoggedIn</servlet-name>
        <url-pattern>/IsLoggedIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsOldUser</servlet-name>
        <url-pattern>/IsOldUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TowardsOrderServlet</servlet-name>
        <url-pattern>/TowardsOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmptyCartServlet</servlet-name>
        <url-pattern>/EmptyCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressServlet</servlet-name>
        <url-pattern>/AddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAddressServlet</servlet-name>
        <url-pattern>/RemoveAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAddress</servlet-name>
        <url-pattern>/GetAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/PayServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1440
        </session-timeout>
        <cookie-config>
            <max-age>86400</max-age>
        </cookie-config>
    </session-config>
</web-app>
